In [1]:
import pandas as pd,seaborn as sns,matplotlib.pyplot as plt
import numpy as np
from pprint import pprint
import json
import requests
from bs4 import BeautifulSoup
from modules.functions import get_schedule,create_home_and_away_simple_dataframe,calculate_possessions,get_agg_boxscore,get_game_timestamp_half

In [2]:
get_schedule("Purdue")

           DATE           OPPONENT    GAME_ID
2    Tue, Nov 8          Milwaukee  401483405
3   Fri, Nov 11        Austin Peay  401483406
4   Tue, Nov 15          Marquette  401479696
5   Thu, Nov 24     West Virginia   401483331
6   Fri, Nov 25           Gonzaga   401486748
7   Sun, Nov 27              Duke   401486751
9   Wed, Nov 30    @ Florida State  401479679
10   Sun, Dec 4          Minnesota  401484836
11   Wed, Dec 7            Hofstra  401483407
12  Sat, Dec 10         @ Nebraska  401484843
13  Sat, Dec 17          Davidson   401483408
14  Wed, Dec 21        New Orleans  401483409
15  Thu, Dec 29        Florida A&M  401483410
16   Mon, Jan 2            Rutgers  401484849
17   Thu, Jan 5      @  Ohio State  401484875
18   Sun, Jan 8        Penn State   401484880
19  Fri, Jan 13           Nebraska  401484890
20  Mon, Jan 16  @  Michigan State  401484897
21  Thu, Jan 19        @ Minnesota  401484904
22  Sun, Jan 22           Maryland  401484909
23  Thu, Jan 26         @ Michigan  401484917
24  Sun, Jan 29     Michigan State  401484924
25   Wed, Feb 1         Penn State  401484928
26   Sat, Feb 4         @  Indiana  401484932
27   Thu, Feb 9               Iowa  401484944
28  Sun, Feb 12     @ Northwestern  401484951
29  Thu, Feb 16        @  Maryland  401484958
30  Sun, Feb 19         Ohio State  401484965
31  Sat, Feb 25            Indiana  401484972
32   Thu, Mar 2        @ Wisconsin  401484985
33   Sun, Mar 5           Illinois  401484992

In [2]:
game_id = 401479679


test_df = pd.DataFrame()

last_reported_time = None
timestamp,half = get_game_timestamp_half(game_id)

if timestamp != last_reported_time:

    last_reported_time = timestamp
    temp_df = get_agg_boxscore(game_id = game_id,disp = True)
    temp_df['Half'] = half
    temp_df['Timestamp'] = timestamp
    test_df = pd.concat([test_df,temp_df.transpose()])
    create_home_and_away_simple_dataframe(game_id,disp = True)

        Florida State Purdue
PTS                69     79
FGM                25     26
FGA                66     56
3PM                 7      5
3PA                23     18
FTM                12     22
FTA                14     31
OREB                6      9
DREB               21     32
TO                  8     11
POS                74     72
PTS_POS          0.92   1.09
3PT%             30.0   28.0
FG%              38.0   46.0
OR%              16.0   30.0
TS%             47.49  55.85
TO%             10.72  15.13

                    Player  PTS  FGM  FGA  3PM  3PA  FTM  FTA  OREB  DREB  \
Purdue 0         M. Gillis    5    2    5    1    2    0    0     1     6
       1           Z. Edey   25   11   14    0    0    3    5     3     5
       2          B. Smith   13    4   10    0    2    5    6     5     4
       3          F. Loyer   11    4   12    2    6    1    2     0     0
       4         E. Morton    4    0    2    0    2    4    4     0     3
       5   T. Kaufman-Renn    4    1    1    0    0    2    4     0     1
       6        B. Waddell    0    0    2    0    1    0    0     0     0
       7          C. Furst    7    3    7    1    2    0    0     0     3
       8         B. Newman    8    1    2    1    2    5    6     0     7
       9    D. Jenkins Jr.    2    0    1    0    1    2    4     0     3
       10             Team   79   26   56    5   18   22   31     9    32

           REB  AST  STL  BLK  TO  PF  PTS/FGA Position
Purdue 0     7    0    0    0   1   0     1.00        F
       1     8    0    0    1   2   2     1.79        C
       2     9    7    1    0   2   0     1.30        G
       3     0    4    0    0   0   2     0.92        G
       4     3    2    0    0   1   2     2.00        G
       5     1    0    0    0   1   1     4.00        F
       6     0    0    0    0   0   1     0.00        F
       7     3    0    0    0   1   1     1.00        F
       8     7    0    0    0   1   4     4.00        G
       9     3    1    0    0   2   2     2.00        G
       10   41   14    1    1  11  15    18.01

                         Player  PTS  FGM  FGA  3PM  3PA  FTM  FTA  OREB  \
Florida State 0       N. McLeod    2    1    4    0    0    0    0     1
              1     C. Fletcher    9    4   11    1    4    0    0     1
              2    M. Cleveland   20    8   12    1    1    3    3     1
              3   Da. Green Jr.   23    7   12    4    7    5    7     1
              4        C. Mills   10    4   11    0    3    2    2     1
              5       C. Corhen    0    0    3    0    3    0    0     0
              6       De. Green    0    0    2    0    1    0    0     0
              7        T. House    3    1    2    1    2    0    0     0
              8      C. Jackson    2    0    4    0    0    2    2     1
              9       J. Warley    0    0    5    0    2    0    0     0
              10           Team   69   25   66    7   23   12   14     6

                  DREB  REB  AST  STL  BLK  TO  PF  PTS/FGA Position
Florida State 0      2    3    0    0    3   0   3     0.50        C
              1      9   10    0    1    0   0   3     0.82        G
              2      5    6    1    0    0   0   3     1.67        G
              3      1    2    1    2    2   3   3     1.92        G
              4      1    2    2    1    0   2   2     0.91        G
              5      0    0    0    0    0   1   4     0.00        F
              6      0    0    0    0    0   0   1     0.00        F
              7      0    0    0    0    0   0   0     1.50        G
              8      1    2    0    1    0   0   1     0.50        G
              9      2    2    6    2    0   2   4     0.00        G
              10    21   27   10    7    5   8  24     7.82